body {
    background: hsl(210deg 30% 12%);
}

.wrapper {
    --padding: 4px;
    position: relative;
    padding: var(--padding);
    border: 1px solid hsl(210deg 10% 40%);
    border-radius: 8px;

    /* CSS Grid */
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    /* percentages are a more rigid measurement */
    /* grid-template-columns: 25% 75%; */

    /* gap gives a fixed amount of space in-between all grid cells */
    gap: 8px;
}

.child {
    display: grid;
    place-content: center;
    /* height: 100px; */
    border:
        2px solid hsl(210deg 8% 50%);
    border-radius: 3px;
    background: hsl(210deg 15% 20%);
    color: white;
    font-size: 1.325rem;
    font-weight: bold;
}

.logo > img {
    max-width: 100px;
}

.nav-bar {
    display: grid;
    place-content: start end;
    padding: 16px;
}
.nav-item {
    display: grid;
    place-content: start;
}
.nav-item:hover {
    background-color: blue;
}
.nav-text {
    grid-column: 2;
}
.nav-icon {
    padding-right: 8px;
}

.content {
    /* display: flow-root; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: start center;
    text-align: center;
}
.content > img {
    float: left;
    width: 375px;
}

.content-body {
    text-align: left;
}
