body {
    background: hsl(210deg 30% 12%);
}

.wrapper {
    --padding: 4px;
    position: relative;
    padding: var(--padding);
    border: 1px solid hsl(210deg 10% 40%);
    border-radius: 8px;

    /* CSS Grid */
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;

    gap: 8px;
}

.child {
    display: grid;
    place-content: center;
    border:
        2px solid hsl(210deg 8% 50%);
    border-radius: 3px;
    background: hsl(210deg 15% 20%);
    color: white;
    font-size: 1.325rem;
    font-weight: bold;
    text-align: center;
}

.wrso-logo {
    max-width: 150px;
}

.nav-bar {
    display: grid;
    place-content: start end;
    padding: 16px;
    background-color: #47100B;
    color: white;
}
.nav-list {
    padding-top: 16px;
}
.nav-item {
    display: grid;
    place-content: start;
}
.nav-item:hover {
    color: gold;
    cursor: pointer;
}
.nav-text {
    text-decoration: none;
    color: inherit;
    grid-column: 2;
}
.nav-icon {
    padding-right: 8px;
}
.selected {
    color: gold;
}

.content {
    display: grid;
    grid-template-columns: 2fr;
    place-content: start center;
    text-align: left;
    gap: 16px;
}
